
/* monitors and laptops */



/*@media screen and (max-width: 1200px){
    .container {
        max-width: 960px;
        width: 100%;
        margin: auto;
        line-height: 40px;
    }
}*/

@media screen and (max-width: 360px){
    header {
        width: 100%;
        height: 480px;
        background: #af2024;
    }
    .menu {
        text-align: center;
        text-transform: capitalize;
        width: 100%;

    }
    .menu>a {
        color: white;
        font-size: 26px;
        font-family: "MyriadProRegular", sans-serif;
        line-height: 60px;
    }
}
/* Медиа-запросы для различных размеров адаптивного макета */
/*@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 700px) {

}*/
