@font-face {
    font-family: 'MetropolisRegular';
    src: url('../fonts/MetropolisRegular.eot');
    src: url('../fonts/MetropolisRegular.eot') format('embedded-opentype'),
    url('../fonts/MetropolisRegular.woff2') format('woff2'),
    url('../fonts/MetropolisRegular.woff') format('woff'),
    url('../fonts/MetropolisRegular.ttf') format('truetype'),
    url('../fonts/MetropolisRegular.svg#MetropolisRegular') format('svg');
}

* {
    margin:0; padding:0;
    font-size:inherit;
    color:inherit;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
    text-decoration:none;
    background-color:transparent;
    font-size:11px;
    color:#2d2a2b;
}
img {border:none;}
html {height: 100%;}

body {
    height: auto !important;
    min-height: 100%;
    background: #ebebeb;
    font-family: 'MetropolisRegular', sans-serif;
    font-size: 24px;
    color: #464646;
    text-align: left;
}

.section {
    width: 100%;
    background: #ebebeb;
    padding-left: 142px;
    padding-bottom: 50px;
}

.box {
    width: 50%;
    background: white;
    padding: 435px 30px 90px 30px;
}

.text {
    padding-left: 35px;
    margin-bottom: 300px;
    box-sizing: border-box;
}

.text p {
    margin-bottom: 65px;
}

.text p span {
    font-weight: 800;
}

.table {
    width: 25%;
    min-width: 130px;
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 20px;
    float: left;
    box-sizing: border-box;
}

.technology {
    border-right: 3px solid #1f2c39;
    color: #1f2c39;
}

.entertainment {
    border-right: 3px solid #03246c;
    color: #03246c;
}

.products {
    border-right: 3px solid #028090;
    color: #028090;
}

.direct {
    border-right: 3px solid #28aeaf;
    color: #28aeaf;
}

.table span {
    display: block;
    margin-bottom: 23px;
    margin-left: 25px;
}
.table h3 {
    text-align: center;
    color: white;
    line-height: 40px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.technology h3 {  color: white;
    background: #1f2c39;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.entertainment h3 {
    background: #03246c;
}

.products h3 {
    background: #028090;
}

.direct h3 {
    background: #28aeaf;
}

.box-table::after {
    content: " ";
    clear: both;
    display: block;
}


